.content-form{
    position: absolute;
    left: 24%;
    width: 80%;
    height: 100%;
}

.content-form h1{
    color: rgb(45,10,114);
    position: relative;
    top: 5%;
    left: 40%;
    
}

.image-contact{
    position: relative;
    width: 50%;
    height: 50%;
    top: 80px;
    left: 32%;
}

.form-image{
    width: 80%;
    height: 80%;
}

.form-fields{
    position: relative;
    width: 60%;
    height: 90%;
    top: 200px;
    left: 20%;
    background: rgb(50, 11, 116, 0.2);
    padding: 50px;
    border-radius: 10px;
}


.btn-send{
    position: relative;
    left: 42%;
    padding: 8px 18px !important;
    margin-top: 20px;
}