.content-events{
    position: absolute;
    top: 310%;
    left: 24%;
    width: 75%;
    height: 100%;
}

.content-eventText{
    left: 45%;
    top: 10%;
    position: relative;
    width: 30%;
}

.content-eventText h1{
    color: rgb(45,10,114);
}


/* Cards */

.card{
    width: 20rem;
    position: relative;
    top: 365%;
    left: 50%;
}

.card:hover{
    box-shadow: 5px 10px 10px 1px rgb(43, 8, 113, 0.25) !important;
    
}

.card-body{
    padding: 3rem !important;
    
}

.card-text{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}

.container-fluid.row{
    padding-top: 6rem;
}

.row{
    margin: 150px !important;
}

.card-img-top{
    transform: scale(1);
    transition: transform 0.5s ease;
}

.card-img-top:hover{
    transform: scale(1.8);
}

.overflow{
    overflow: hidden;
}