.content-service{
    position: absolute;
    top: 200%;
    left: 23%;
    width: 80%;
    height: 180%;
}

.content-servTit{
    position: relative;
    left: 35%;
    top: 5%;
    width: 50%;
}

.content-servTit h1{
    color: rgb(45,10,114);
}

.tableServ{
    position: relative;
    height: 100%;
    left: 10%;
    top: 10%;
}


