.bm-burger-button{
    position: fixed;
    width: 2.8em;
    height: 1.1em;
    top: 70%;
    left: 2.5%;
}

.bm-burger-bars{
    background: #fff;
}

.bm-burger-bars-hover{
    background: #fff;
}

.bm-cross-button{
    height: 24px;
    width: 24px;
}

.bm-cross{
    background: #fff;
}

.bm-menu-wrap{
    position: fixed;
    height: 55% !important;
    width: 8% !important;
    top: 50%;
}

.bm-menu{
    background: linear-gradient(#290871, #56137c);
    padding: 1em 1em 0;
    font-size: 1.6em;
}

.bm-morph-shape{
    fill:  #70397e;
}

.bm-item-list{
    color: #fff;
    padding: 0.8em;
}

.bm-item{
    display: inline-block;
    color: #fff !important;
    margin-bottom: 10px;
    text-align: left;
    text-decoration: none !important;
    transition: color 0.2s;
}

.bm-item-hover{
    color: #fff;
}

.bm-overlay{
    background: rgba(17, 0, 16, 0.541);
}

.sidebar{
    background: linear-gradient(#290871, #56137c);
    height: 100%;
    width: 8%;
    display: flex;
    position: fixed;
}

.content-brand{
    margin: auto;
    position: fixed;
    z-index: 1;
    min-height: 25%;
    min-width: 15%;
}

.brandHome{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    transform: rotate(-90deg);
}

/* Dispositivos móviles */
@media screen and (max-width: 667px){
    .content-brand{
        display: none;
    }

    .sidebar{
        display: none;
    }
}
/* Dispositivos Medianos, tablets */
@media screen and (max-width: 768px) {
    .content-brand{
        display: none;
    }

    .sidebar{
        display: none;
    }
}

@media screen and (max-width: 992px){
   .content-brand{
       display: none;
   }

   .sidebar{
    display: none;
    }
}
